environment:
  secure_file_version: 1.0.2

# Do not build feature branch with open Pull Requests
skip_branch_with_pr: true

skip_tags: true

init:
- set appveyor_full_version=%secure_file_version%.%appveyor_build_number%
- appveyor UpdateBuild -Version %appveyor_full_version%

dotnet_csproj:
  patch: true
  file: '**\*.csproj'
  version: '{version}'
  package_version: '{version}'
  assembly_version: '{version}'
  file_version: '{version}'
  informational_version: '{version}'

build_script:
- build.cmd
- 7z a secure-file.zip %APPVEYOR_BUILD_FOLDER%\build\*
- appveyor PushArtifact secure-file.zip

test: off

deploy:
- provider: GitHub
  tag: $(secure_file_version)
  release: Secure File $(secure_file_version)
  auth_token:
    secure: tC2JqsY1pLk4twj5vIFPVOAFdpKcc8CWtPll/qJPHpju/vKzpS1qkcRKmSPLqgxlkO+CtZVPy2OfA03Nd1hglDC8zQ+59I02RF6GsOkRCsUZJAox2aKWb5j62p53p692
  force_update: true